@import'./styles/_all_variables.css';
@import'./components/_all_components.css';

/* -----  RESET CSS  -----  */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: inherit;
}
html, body {
    height: 100vh;
    overflow: hidden;}

body {
    background-color: rgb(3, 129, 129);
    background-image: url('asset/background_index_page.png');
    background-position: center;
}

.nav_contener {
    display: flex;
    justify-content: space-between;
}

.btn_contener {
    display: flex;
    flex-direction: row;
}

.btn {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
    padding: 8px 15px;
    margin: 20px 10px;
    background-color: #AF5A5A;
    border-radius: 19cm;
    border: 1px solid black;
    font-size: 13px;
    color: white;
}

.ecosysteme {
    padding: 8px 15px;
    margin: 30px 40px 10px 30px;
    background-color: #AF5A5A;
    border-radius: 19cm;
    border: 1px solid black;
    font-size: 13px;
    color: white;

}

.login {
    padding: 8px 15px;
    margin: 20px 40px 10px 30px;
    background-color: #AF5A5A;
    border-radius: 19cm;
    border: 1px solid black;
    font-size: 13px;
    color: white;
}

.finance {
    padding: 8px 15px;
    margin: 30px 40px 10px 30px;
    background-color: #AF5A5A;
    border-radius: 19cm;
    border: 1px solid black;
    font-size: 13px;
    color: white;
}

.solution {
    padding: 8px 15px;
    margin: 20px 40px 10px 30px;
    background-color: #AF5A5A;
    border-radius: 19cm;
    border: 1px solid black;
    font-size: 13px;
    color: white;
}


h1 {
    font-family: 'Bangers', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    color: #A3EAF2;
    margin: 10px 30px
}

h2 {
    font-family: "Open Sans", serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 20px;
    color: white;
    margin: 5px 20px;
}

.contener_cta {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.promo {
    grid-column: 1;
    grid-row: 2 / 5;
    padding: 10px 10px;
    margin: 15px 20px;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border-color: black;
    color: white;
    fill-opacity: 1;
    background-color: rgba(255, 255, 255, 0.48);
    border-radius: 5%;
    border-width: 0.5em;
}

.cta {
    columns: 1;
    grid-row: 2 / 5;
    padding: 10px 10px;
    margin: 15px 20px;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
    background-color: deepskyblue;
    border-radius: 5%;
    border-color: black;
    border-width: 0.5em;
}

#social_media_links {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin: 15px 0;
}

footer {
    background-color: rgb(118, 226, 163);
    display: flex;
    justify-content: space-evenly;
}
/*utils style__________________________________________________*/
.text-outline {
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
}
