@import'./styles/_all_variables.css';

/* -----  RESET CSS  -----  */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: inherit;
}

body {
    background-color: rgb(3, 129, 129);
    background-image: url('asset/background_index_page.png');
    background-position: center;

    height: 100vh;

}

.nav_contener {
    display: flex;
    justify-content: space-between;
}

.btn_contener {
    display: flex;
    flex-direction: row;
}

.btn {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
    padding: 8px 15px;
    margin: 20px 10px;
    background-color: #AF5A5A;
    border-radius: 19cm;
    border: 1px solid black;
    font-size: 13px;
    color: white;
}

.ecosysteme {
    padding: 8px 15px;
    margin-right: 40px;
    margin-left: 10px;
    margin-top: 30px;
    margin: 30px 40px 10px 30px;
    background-color: #AF5A5A;
    border-radius: 19cm;
    border: 1px solid black;
    font-size: 13px;
    color: white;

}

.login {
    padding: 8px 15px;
    margin: 20px 40px 10px 30px;
    background-color: #AF5A5A;
    border-radius: 19cm;
    border: 1px solid black;
    font-size: 13px;
    color: white;
}

.finance {
    padding: 8px 15px;
    margin: 30px 40px 10px 30px;
    background-color: #AF5A5A;
    border-radius: 19cm;
    border: 1px solid black;
    font-size: 13px;
    color: white;
}

.solution {
    padding: 8px 15px;
    margin: 20px 40px 10px 30px;
    background-color: #AF5A5A;
    border-radius: 19cm;
    border: 1px solid black;
    font-size: 13px;
    color: white;
}

/* lien typo bangers pour H1( https://www.cssfontstack.com/Bangers) */

h1 {
    font-family: var(--font-title);
    font-size: 40px;
    font-style: bolt;
    font-variant: bolt;
    font-weight: 400;
    line-height: 52.8px;
    color: #A3EAF2;
    margin: 30px 30px
}

/* lien typo bangers pour H2 (https://www.cssfontstack.com/open-sans) */
h2 {
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: white;
    margin: 10px 20px;
}

.contener_cta {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.promo {
    grid-column: 1;
    grid-row: 2 / 5;
    padding: 10px 30px;
    margin: 30px 20px;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border-color: black;
    color: white;
    fill-opacity: 1;
    background-color: rgb(207, 10, 10);
    opacity: 1;
    border-radius: 5%;
    border-color: black;
    border-width: 0, 5em;
}

.cta {
    columns: 1;
    grid-row: 2 / 5;
    padding: 10px 10px;
    margin: 30px 40px;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
    background-color: #6f0fec;
    border-radius: 5%;
    border-color: black;
    border-width: 0, 5em;
}

#social_media_links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}

footer {
    background-color: rgb(118, 226, 163);
}